<div class="picker">
  <ion-img role="button" class="image" *ngIf="selectedImage" (click)="onPickImage()" [src]="selectedImage"></ion-img>
  <ion-button color="primary" (click)="onPickImage()" *ngIf="!selectedImage" >
    <ion-icon slot="start" name="camera"></ion-icon>
    <ion-label>Tomar Foto</ion-label>
  </ion-button>
</div>
<input type="file" accept="image/jpeg" *ngIf="usarPicker" #filePicker (change)="onFileSelected($event)">
