<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Authenticate</ion-title>
    <ion-title>{{ !isLoginMode ? 'Sing: Up' : 'Login' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="isLoading">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" >
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" placeholder="correo" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" >
              <ion-label>Ingresa un correo valido</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" placeholder="contraseña" ngModel name="password" required minlength="6" #passCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passCtrl.valid && passCtrl.touched" >
              <ion-label>Ingresa una contraseña valido</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button color="primary" type="buttom" expand="block" fill="clear" ((click)="onSwitchAuthMode()")>Switch to {{ !isLoginMode ? 'Sing: Up' : 'Login' }}</ion-button>
          <ion-button color="primary" type="submit" expand="block" fill="outline" (click)="onLogin()" *ngIf="isLoading" [disabled]="!myForm.valid">{{ !isLoginMode ? 'Sing: Up' : 'Login' }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!--<ion-spinner color="primary" *ngIf="isLoading" ></ion-spinner>-->
</ion-content>
