<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="todos" (ionChange) = "onFilterUpdate($event)">
    <ion-segment-button value="todos">All Places</ion-segment-button>
    <ion-segment-button value="disponibles">Available</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-spinner name="circular" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="(!lugaresRelevantes) || (lugaresRelevantes.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <p>No hay lugares disponibles en este momento, regresa luego</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && lugaresRelevantes.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ lugaresRelevantes[0].titulo }}</ion-card-title>
            <ion-card-subtitle>{{ lugaresRelevantes[0].precio | currency }} / por noche</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="lugaresRelevantes[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{lugaresRelevantes[0].descripcion}}</p>
          </ion-card-content>
          <div class="ion-text-right">
            <ion-button fill="clear" color="primary" [routerLink]="['/', 'lugares', 'tabs', 'busqueda', lugaresRelevantes[0].firebaseId]">Mas</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size= "12" size-sm="8" offset-sm="2" text-center>
        <ion-virtual-scroll [items]="lugaresListados" apprxItemHeight = "72px">
          <ion-item [routerLink]="['/', 'lugares', 'tabs', 'busqueda', lugar.firebaseId]" detail *virtualItem="let lugar">
            <ion-thumbnail slot="start">
              <ion-img [src]="lugar.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>{{lugar.titulo}}</ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
